* {
    padding: 0;
    background-color: #F4D8B0;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-family: 'Supermercado One', cursive;
    color: #5C3F37;
    font-size: 48px;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 20px;
}

p {
    max-width: 40%;
    font-size: 18px;
    font-weight: 500;
}

#conteiner {
    column-count: 2;
    column-span: all;
    column-rule: 2px #9b5846;
    column-rule-style: dotted;
    /* column-gap: 30em; */
    line-height: 25px;
    /* max-width: 100%; */
    box-sizing: border-box;

}

.test {
    display: flex;
}


.test2 {
    /* margin-top: 18px; */
}

#title-h3 {
    color: #9b5846;
}

#title-h3 .first-letter {
    font-size: 30px;
}


.price {
    color: red;
}

.box-footer {
    border: 1.65px #9b5846 dashed;
}