@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background: url(netflix_bkgd.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.form-login {
    background-color: rgba(0, 0, 0, 0.6);
    width: 320px;
    height: 560px;
    padding: 60px 68px 40px;
    margin: 0 auto;
}

#label-entrar {
    color: white;
    position: absolute;
    top: 20%;
}

input::placeholder {
    position: absolute;
    top: 36%;
    left: 5%;
}

#login-email {
    width: 20rem;
    height: 50px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-radius: 5.6px;
    background: #333333;
    position: absolute;
    top: 29%;
}

#login-senha {
    width: 20rem;
    height: 50px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-radius: 5.6px;
    background: #333333;
    position: absolute;
    top: 38.4%;
}

#btn-entrar {
    width: 20rem;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5.6px;
    background: #E62213;
    color: whitesmoke;
    border: none;
    position: absolute;
    top: 51.2%;
}

#btn-checkbox {
    position: absolute;
    top: 61%;
}

#label-checkbox {
    color: #B3B3B3;
    font-size: 0.8REM;
    position: absolute;
    top: 61%;
    left: 41%;
}

a.a-help {
    color: #B3B3B3;
    text-decoration: none;
    font-size: 0.8REM;
    position: absolute;
    top: 61%;
    right: 39.6%;
}

#btn-sign-in {
    color: #B3B3B3;
    font-size: 1rem;
    position: absolute;
    top: 67%;
    left: 39.5%;
}

div #btn-sign-in a {
    text-decoration: none;
    color: white;
}

span#btn-footer {
    color: #B3B3B3;
    font-size: 0.8REM;
    width: 21%;
    position: absolute;
    top: 73%;
    left: 39.5%;
}

#a-aboult {
    color: #1168D0;
    text-decoration: none;
}



/* ---------------------------- */
/* ----------------------------- */
/* ----------------------------- */

@media screen and (max-width: 480px) {

    body {
        margin: 0;
        padding: 0;
        background-image: url(none);
        box-sizing: border-box;
        background-color: black;
    }

    img {
        position: absolute;
        top: 0.3%;
        left: 1%;
        width: 32%;
        height: 3.4em;
        z-index: 1;
        box-sizing: border-box
    }

    #label-entrar {
        position: absolute;
        top: 11%;
        left: 4%;
        font-size: 2.6rem;
        color: aliceblue;
    }

    #login-email {
        width: 109.4%;
        height: 7.9%;
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-radius: 5.6px;
        background: #333333;
        position: absolute;
        top: 22%;
        left: 3.8%;
    }

    #login-senha {
        width: 109.4%;
        height: 7.9%;
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-radius: 5.6px;
        background: #333333;
        position: absolute;
        top: 33.8%;
        left: 3.8%;
    }

    input::placeholder {
        position: absolute;
        top: 36%;
        left: 5%;
    }

    #btn-entrar {
        width: 109.4%;
        height: 7.7%;
        font-size: 16px;
        font-weight: 600;
        border: none;
        border-radius: 5.6px;
        background: #E62213;
        color: whitesmoke;
        border: none;
        position: absolute;
        top: 48.6%;
        left: 3.8%;
    }

    #btn-checkbox {
        position: absolute;
        top: 58.8%;
        left: 5%;
    }

    #label-checkbox {
        position: absolute;
        top: 58.4%;
        left: 10%;
        color: #B3B3B3;
        font-size: 1rem;
    }

    input #btn-checkbox:checked {
        background: gray;
    }

    a.a-help {
        position: absolute;
        top: 58.4%;
        right: -12%;
        color: #B3B3B3;
        text-decoration: none;
        font-size: 1rem;
    }

    #btn-sign-in {
        position: absolute;
        top: 63.8%;
        left: 6%;
        font-size: 1.2rem;
        color: #B3B3B3;
    }

    a {
        text-decoration: none;
        color: white;
        margin-left: 6px;
    }

    div #btn-footer {
        position: absolute;
        top: 69%;
        left: 6%;
        width: 94%;
        color: #B3B3B3;
    }

    #a-aboult {
        color: #1168D0;
    }



}